@model DesapegAutoWeb.Models.ConcessionariaViewModel

@{
    ViewData["Title"] = "Detalhes da Concessionária";
}

<h1>Detalhes da Concessionária</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Nome)</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Cnpj)</dt>
        <dd class="col-sm-10">@Model.Cnpj</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Email)</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Telefone)</dt>
        <dd class="col-sm-10">@Model.Telefone</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Senha)</dt>
        <dd class="col-sm-10">@Model.Senha</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Endereco)</dt>
        <dd class="col-sm-10">@Model.Endereco</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
