@model IEnumerable<DesapegAutoWeb.Models.ConcessionariaViewModel>

@{
    ViewData["Title"] = "Concessionárias";
}

<h1>Concessionárias</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Nova Concessionária</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Nome)</th>
            <th>@Html.DisplayNameFor(m => m.First().Cnpj)</th>
            <th>@Html.DisplayNameFor(m => m.First().Email)</th>
            <th>@Html.DisplayNameFor(m => m.First().Telefone)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Cnpj</td>
            <td>@item.Email</td>
            <td>@item.Telefone</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>
