@model IEnumerable<Core.DTO.VendaDTO>
@using System

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["SuccessMessage"] is string successMessage)
{
    <div class="alert alert-success" role="alert">@successMessage</div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeConcessionaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePessoa)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeConcessionaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePessoa)
            </td>
            <td>
                @item.StatusAnuncio
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                @if (string.Equals(item.StatusAnuncio, "P", StringComparison.OrdinalIgnoreCase))
                {
                    <text> | </text>
                    @Html.ActionLink("Confirmar", "Confirmar", new { id=item.Id })
                }
            </td>
        </tr>
}
    </tbody>
</table>
