@model DesapegAutoWeb.Models.VeiculoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VeiculoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConcessionaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConcessionaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quilometragem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quilometragem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeModelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeModelo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
