@model IEnumerable<DesapegAutoWeb.Models.VeiculoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdConcessionaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quilometragem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeModelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdConcessionaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quilometragem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeModelo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })

            </td>
        </tr>
}
    </tbody>
</table>
